.app__container {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    // align-items: center;
    justify-content: center;
}
::-webkit-scrollbar{
    width: 0px;
}